/* Fondo general */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
}

/* Formulario */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 22px;

    width: 380px;
    margin: 40px auto;
    padding: 35px;

    background-color: white;
    border-radius: 14px;

    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
}

/* Grupo campo */
.campo {
    display: flex;
    flex-direction: column;
}

/* Labels */
label {
    margin-bottom: 8px;

    font-size: 14px;
    font-weight: 600;
    color: #374151;
}

/* Inputs */
input {
    padding: 12px 14px;

    font-size: 15px;

    border: 1px solid #cfd6dd;
    border-radius: 8px;

    transition: all 0.2s ease;
}

/* Focus */
input:focus {
    outline: none;
    border-color: #4a90e2;

    box-shadow: 0 0 6px rgba(74, 144, 226, 0.35);
}

/* Error */
small {
    margin-top: 6px;

    color: #d93025;
    font-size: 13px;
}

/* Botones */
.botones {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

/* Botones generales */
button {
    padding: 11px 18px;

    border: none;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.2s ease;
}

/* Enviar */
button[type="submit"] {
    background-color: #4a90e2;
    color: white;
}

button[type="submit"]:hover {
    background-color: #3578c8;
}

/* Cancelar */
button[type="button"] {
    background-color: #e5e7eb;
    color: #333;
}

button[type="button"]:hover {
    background-color: #d1d5db;
}

/* Deshabilitado */
button:disabled {
    background-color: #bcc5d1;
    cursor: not-allowed;
}

.mensaje-exito {
    margin-top: 5px;

    text-align: center;
    color: #2e7d32;
    font-weight: bold;
}


p {
    margin-top: 5px;
    text-align: center;
    color: #2e7d32;
    font-weight: bold;
}

.input-grande {
    width: 300px;
}

.input-chico {
    width: 100px;
}

.pantalla {
    min-height: 100vh;
    padding: 30px;

    transition: background-color 0.3s ease;
}

.selector-container {
    margin-bottom: 25px;
}

.titulo-colores {
    margin-bottom: 12px;

    font-size: 15px;
    font-weight: 600;
    color: #374151;
}

.selector-colores {
    display: flex;
    gap: 20px;
}

/* Cada opción */
.opcion-color {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 6px;
}

/* Texto */
.opcion-color span {
    font-size: 13px;
    color: #555;
}

/* Círculos */
.circulo {
    width: 30px;
    height: 30px;

    border-radius: 50%;

    cursor: pointer;

    border: 2px solid white;

    box-shadow: 0 2px 6px rgba(0,0,0,0.2);

    transition: transform 0.2s ease;
}

.circulo:hover {
    transform: scale(1.15);
}

/* Colores */
.rojo {
    background-color: #ef4444;
}

.azul {
    background-color: #3b82f6;
}

.verde {
    background-color: #22c55e;
}