
<div class="pantalla" [ngStyle]="{'background-color': colorFondo}">


<form [formGroup]="formulario" class="formulario"    (ngSubmit)="enviar()">
    <p [ngStyle]="{'color': colorTexto, 'font-size': formulario.get('tamanioFuente')?.value + 'px'}">
            Formulario Básico para ingreso de datos
    </p>

    <div class="campo">
        <label for="tamanioFuente"> Tamaño Fuente</label>
        <input type="number"  class="input-chico" formControlName="tamanioFuente" placeholder="Tamaño Fuente" min="15" max="50"/>
        @if ((formulario.get('tamanioFuente')?.touched) && (formulario.get('tamanioFuente')?.errors?.['required'])) {
                <small> El tamaño de la fuente es requerido</small>
            }
    </div>
    <div class="campo">
        <label for="nombre"> Nombre</label>
        <input formControlName="nombre" class="input-grande" placeholder="Nombre"/>
            @if ((formulario.get('nombre')?.touched) && (formulario.get('nombre')?.invalid)) {
                @if (formulario.get('nombre')?.errors?.['required']) {
                    <small> El Nombre es obligatorio</small>
                }
                @if (formulario.get('nombre')?.errors?.['minlength']) {
                    <small> Mínimo 3 caracteres</small>
                }
            }
    </div>
    <div class="campo">
        <label for="email"> Email</label>
        <input formControlName="email" class="input-grande" placeholder="Email"/>
        @if ((formulario.get('email')?.touched) && (formulario.get('email')?.invalid)) {
            @if (formulario.get('email')?.errors?.['required']) {
                <small> El email es obligatorio</small>
            }
            @if (formulario.get('email')?.errors?.['email']) {
                <small> Formato de email inválido</small>
            }
        }
    </div>

    <div class="campo">
        <label for="mensaje"> Mensaje</label>
        <input formControlName="mensaje" class="input-grande" placeholder="Mensaje"/>
    </div>

    <div class="botones">
        <button type="submit" [disabled]="formulario.invalid">Enviar</button>
        <button type="button" (click)="cancelar()"> Cancelar </button>
    </div>

@if (formulario.valid) {
    <p class="mensaje-exito"> {{mensaje}}</p>
}

</form>
</div>